.s1{
    background-image: url(p1.jpg);
      background-size: cover;
      text-align: center;
      font-family: 'Montserrat';
      color: white;
  }
  .s2{
      background-image: url(p2.jpg);
      background-size: cover;
      text-align: center;
      font-family: 'Montserrat';
      color: rgb(0, 0, 0);
  }
  .s3{
    background-image: url(p3.jpg);
      background-size: cover;
      text-align: center;
      font-family: 'Montserrat';
      color: rgb(0, 0, 0)
  }
  
  h1{ 
    font-weight: 900;
    font-family: 'Montserrat';
      text-align: center;
      align-items: center;
      align-self: auto;   
  }





 