a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: #ffffffde;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-floating:hover {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

a {
	text-decoration: none;
}

.btn,
.btn-large,
.btn-flat {
	border: none;
	border-radius: 20px;
	/* display: inline-block; */
	/* height: 36px; */
	/* line-height: 36px; */
	padding: 0 2rem;
	/* text-transform: uppercase; */
	/* vertical-align: middle; */
	-webkit-tap-highlight-color: transparent;
}

.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
	outline: 0;
}

.btn:focus,
.btn-large:focus,
.btn-floating:focus {
	background-color: #3a3a3a;
	color: rgba(255, 255, 255, 0.822);
}

.btn,
.btn-large {
	text-decoration: none;
	color: #e2e2e2;
	background-color: #272727bd;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
}

.btn:hover,
.btn-large:hover {
	background-color: #272727;
}

.waves-effect {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	will-change: opacity, transform;
	transition: .3s ease-out;
}

.waves-effect.waves-light.btn {
	margin: 4% 2% 4% 2%;
}
